.message-card {
    background-color: #e0edec;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  
    /* 添加鼠标悬停效果 */
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  }
  

  .message-link {
    color: rgb(77, 77, 80); /* 设置链接文字颜色 */
    text-decoration: none; /* 去除下划线 */
  }
  
  .message-link:hover {
    color: rgb(141, 141, 175); /* 设置链接文字鼠标悬停时的颜色 */
  }